<% content_for :title do %>Toys on Tracks Thanks You!<% end %>

<h1>Thank You</h1>
<p>Your transaction works! You have just bought something. Would you like to buy <a href="/">something more</a>?</p>
