<% content_for :title do %>Toys on Tracks Doesn't Thank You!<% end %>

<h1>No Thank You!</h1>
<p>Your transaction was completely unsuccessful! Why it <em>was</em> unsuccessful...
well, this website isn't going to be the judge. But perhaps you want to give buying <a href="/">another shot</a>? </p>
